<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="pt-2">({{cantAlumnos}}) - {{ titulo }}</h2>
    <button class="btn btn-info mt-2" (click)="mostrarModal()">
      Nuevo Estudiante
    </button>
  </div>
  <hr />

  <app-tabla (eliminarEstudiante)="onEliminarEstudiante($event)" [estudiantes]="estudiantes"></app-tabla>
  <br /><br /><br />
</div>

<app-modal
  [(isVisible)]="modalVisible"
  (isVisibleChange)="modalVisible = $event"
  (agregarEstudiante)="onAgregarEstudiante($event)"
></app-modal>
